.imgDisplay {
    max-width: 100%;
    object-fit: contain;
    position: relative;
    transition-duration: 300ms;
}

.img {
    max-width: 100%;
}

.overlay {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition-duration: 300ms;
    background: #0f172a;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.overlayHeader {
    font-weight: 500;
    text-decoration: underline;
}

.imgDisplay:hover .overlay {
    opacity: 0.8;
}

.links {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.icon {
    font-size: 2rem;
}

.button {
    cursor: pointer;
    transition-duration: 300ms;
    color: inherit;
    text-decoration: none;
    transition-duration: 300ms;
    padding: 4px 8px;

}

.button:hover {
    color: #0f172a;
    background: white;
}